name: Run tests

on:
  push:
  pull_request:

jobs:
  run-tests-ce:
    if: |
      github.event_name == 'push' ||
      github.event_name == 'pull_request' && github.event.pull_request.head.repo.owner.login != 'tarantool'
    strategy:
      matrix:
        tarantool-version: ["1.10", "2.2", "2.3", "2.4", "2.5", "2.6", "2.7", "2.8"]
      fail-fast: false
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@master

      - name: Install requirements for community
        run: |
          curl -L https://tarantool.io/installer.sh | sudo VER=${{ matrix.tarantool-version }} bash
          sudo apt install -y tarantool-dev
          tarantool --version
          ./deps.sh

      # This server starts and listen on 8084 port that is used for tests
      - name: Stop Mono server
        run: sudo kill -9 $(sudo lsof -t -i tcp:8084) || true

      - name: Run linter
        run: .rocks/bin/luacheck .

      - name: Run tests
        run: .rocks/bin/luatest -v

  run-tests-ee:
    if: github.event_name == 'push'
    strategy:
      matrix:
        bundle_version: [ "1.10.10-0-gaea7ae77a-r399", "2.7.2-0-g4d8c06890-r399" ]
      fail-fast: false
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@master

      - name: Install requirements for enterprise
        run: |
          curl -O -L https://tarantool:${{ secrets.DOWNLOAD_TOKEN }}@download.tarantool.io/enterprise/tarantool-enterprise-bundle-${{ matrix.bundle_version }}.tar.gz
          tar -xzf tarantool-enterprise-bundle-${{ matrix.bundle_version }}.tar.gz
          rm -f tarantool-enterprise-bundle-${{ matrix.bundle_version }}.tar.gz
          sudo cp tarantool-enterprise/tarantool /usr/bin/tarantool
          source tarantool-enterprise/env.sh
          tarantool --version
          ./deps.sh

      # This server starts and listen on 8084 port that is used for tests
      - name: Stop Mono server
        run: sudo kill -9 $(sudo lsof -t -i tcp:8084) || true

      - name: Run linter
        run: .rocks/bin/luacheck .

      - name: Run tests
        run: .rocks/bin/luatest -v
